In [4]:
import pandas as pd
import numpy as np

In [15]:
df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['A', 'B', 'C', 'D'])
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [20]:
def drop_columns(data, *args):
    """deleting columns from dataset

    Args:
        data (_type_): data - name of dataset
        *args - name of columns in dataset
        returns dataset
    """
    data = data.drop([*args], axis=1)
    return data

df = drop_columns(df, 'A', 'B')

In [21]:
df

    C   D
0   2   3
1   6   7
2  10  11